
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/* 基本的なリセットとフォントの設定 */
body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center; /* 中央揃え */
    align-items: center;     /* 中央揃え */
    min-height: 100vh;       /* ビューポートの高さに合わせる */
}

/* ヘッダーのスタイル */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px; /* paddingを調整 */
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end; /* 右揃えに変更 */
    align-items: center;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px; /* リンク間のスペースを調整 */
}

header a:hover {
    color: #ff5722;
}

/* ヒーローセクションのスタイル */
.hero {
    background-image: url('/images/shanghai.JPG');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px; /* ヘッダーの高さを考慮 */
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

/* コンテンツエリアのスタイル */
.content {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* テキストの中央揃え */
}

/* フッターのスタイル */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

/* 見出し */
h1, h2, h3, h4, h5, h6 {
    color: #222;
    text-align: center; /* 見出しの中央揃え */
}

h1 {
    font-size: 28px;
}

/* リンク */
a {
    color: #1a0dab;
}

a:hover {
    color: #ff5722;
}

/* ボタン */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
}

@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }
}
